body {
    background-color: #333333;
  }
  
  
  
  .container {
    min-width: 2678px;
    padding: 70px 36px 0 92px;
  }
  
  h1, h2, h3, h4, h5, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style-type: none;
  }
  .flex{
    display: flex;
  }



  /* categories */
  .categories {
    display: inline-block;
    background-color: white;
    padding: 24px 31px 98px 30px;
    border-radius: 10px;
    width: 113px;
    height: 195px;
}
  .categories h3{
    margin-bottom: 20px;
  }
  .category label{
    margin-left: 9px;
  }
  .category:not(:last-child){
    margin-bottom: 20px;
  }
  .customCheckbox{
    opacity: 0;
  }
  .customCheckbox + label{
    cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  position: relative;
  }
  .customCheckbox + label:before {
    content: '';
    position: absolute;
    left: -25px;
    border: 1px solid #999999;
    border-radius: 3px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: none;
    margin-right: 4px;
  }
  .customCheckbox:checked + label:before {
    content: '';
    background: url('/img/Rectangle 99.png') no-repeat center;
    border: 1px solid #CCB26E;
  }
  .customCheckbox:disabled + label:before {
    content: '';
    background: none;
  }


  /* task */
  .task{
    margin-left: 58px;
    border-radius: 10px;
    margin-right: 58px;
  }
  
  .choices {
    width: 300px;
  }
  
  .choices__list--dropdown .is-selected {
    display: none;
  }
  
  .choices__list--dropdown .choices__placeholder {
    display: none;
  }
  
  .choices[data-type*=select-one]::after {
    border: none;
    margin-top: 0;
    width: 15px;
    height: 15px;
    background-image: url("/img/Rectangle 141.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }
  
  .choices.is-open[data-type*=select-one]::after {
    margin-top: 0;
    transform: translateY(-50%) rotate(180deg);
  }

/* customScroll */
  .customScroll{
    width: 277px;
    height: 273px;
    margin-left: 58px;
    background-color: #FFFFFF;
  }
  .simplebar-content-wrapper {
    overflow: auto;
  }
  .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    background-color: #CCB26E;
}

/* form */
.form1{
  background-color: #000;
  margin-left: 59px;
  padding-top: 54px;
  padding-left: 30px;
  width: 19%;
  height: 374px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
   
  }
  .form__label {
    flex-direction: column-reverse;
    display: flex;
    margin-bottom: 31px;
    height: 35px;
    width: 378px;
    padding-bottom: 31px;
}
  .input{
    width: 100%;
    border-radius: 10px;
    display: flex;
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 24px;
   
    font-size: 16px;
    line-height: 32px;
  }
  .button{
    width: 192px;
height: 60px;
padding: 17px 53px;
border-radius: 10px;
background: #FF5C00;
  }
.btn{
  color: #FFFFFF;
}







.word{
  margin-left: 58px;
  width: 348px;
  height: 160px;
  margin-left: 58px;
  line-height: 170%;
 background-color: #FFFFFF;
}
.word__text{
  font-weight: 400;
  font-size: 14px;
  padding: 20px 70px 0px 47px;
}

.tooltip{
  position: relative;
  margin-top: -26px;
  margin-left: 240px;
}
.fa-sharp{
 color: gray;
}


.poput{
  position: absolute;
  top: -258%;
  left: -85px;
  width: 163px;
  padding: 15px;
  margin-top: 10px;
  background: gray;
  color: white;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0s;
}
 
.fa-sharp:hover + .poput,
.fa-sharp:hover + .poput{
  opacity: 1;
}
.poput::after{
  content: "";
  display: block;
  border-top: 7px solid gray;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  bottom: -7px;
  left: 86px;
}
